//fonts
@font-face {
    font-family: poppins;
    src: url("../assets/fonts/poppins/Poppins-Regular.ttf");
}
@font-face {
    font-family: poppinsL;
    src: url("../assets/fonts/poppins/Poppins-Light.ttf");
}
@font-face {
    font-family: poppinsM;
    src: url("../assets/fonts/poppins/Poppins-Medium.ttf");
}
@font-face {
    font-family: poppinsSB;
    src: url("../assets/fonts/poppins/Poppins-Regular.ttf");
}
@font-face {
    font-family: poppinsB;
    src: url("../assets/fonts/poppins/Poppins-Bold.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: poppins;
}

//Hero Section
.hero-section {
    height: 100vh;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
        url("../assets/images/background/main-bg.png") no-repeat center;
    background-size: cover;

    // Navigation Bar
    .navbar {
        .container-fluid {
            padding: 0 50px;
            .navbar-brand {
                color: white;
                font-family: poppinsSB;
                font-size: clamp(15px, 5vw, 2rem);
                img {
                    height: 80px;
                    width: 80px;
                }
            }
            .navbar-toggler:focus {
                box-shadow: none;
            }

            .navbar-collapse {
                ul > li .active {
                    background-color: #f3001880;
                    border-radius: 5px;
                    padding-left: 30px;
                    padding-right: 30px;
                }
                ul > li {
                    text-align: center;
                    font-size: clamp(15px, 3vw, 1.2rem);
                    padding: 0 20px;

                    a {
                        color: white !important;
                    }
                }
            }
        }
    }

    // Hero Section > Container
    .container {
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
        text-align: center;

        .hero-text {
            .display-3 {
                font-size: clamp(15px, 5vw, 2.5rem);
                font-family: poppinsL;
                line-height: 1.4;
                span {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    .bg-custom-red {
                        // background-color: red;
                    }
                }
            }
            .sub-text {
                padding: 60px 0;
                font-size: clamp(15px, 3vw, 1.2rem);
            }
            .label-text {
                font-size: clamp(15px, 3vw, 1.5rem);
            }

            .input-group {
                justify-content: center;
                .form-control {
                    flex: none;
                    width: 70%;
                }
            }
        }
    }
}

//Contents
.main {
}

//media queries
// lg
@media (max-width: 992px) {
    //Hero Section
    .hero-section {
        // Navigation Bar
        .navbar {
            // background-color: black !important;
            box-shadow: 1px 1px 10px white;
            .container-fluid {
                padding: 0 50px;
                .navbar-collapse {
                    ul {
                        margin: 20px 0;
                    }
                    ul > li .active {
                        background-color: #f3001880;
                        border-radius: 5px;
                    }
                    ul > li {
                        padding: 10px 0;
                    }
                }
            }
        }

        // Hero Section > Container
        .container {
            height: 80vh;

            .hero-text {
                .display-3 {
                    font-size: clamp(15px, 4vw, 2.2rem);
                }
                .sub-text {
                    font-size: clamp(15px, 3vw, 1.2rem);
                }
                .label-text {
                    font-size: clamp(15px, 3vw, 1.5rem);
                }
            }
        }
    }
}

//md
@media (max-width: 768px) {
    //Hero Section
    .hero-section {
        // Navigation Bar
        .navbar {
            .container-fluid {
                .navbar-brand {
                    color: white;
                    font-family: poppinsSB;
                    font-size: clamp(15px, 5vw, 2rem);
                    img {
                        height: 80px;
                        width: 80px;
                    }
                }
            }
        }

        // Hero Section > Container
        .container {
            height: 80vh;
            .hero-text {
                .display-3 {
                    font-size: clamp(15px, 4vw, 1.6rem);
                }
                .sub-text {
                    padding: 60px 0;
                    font-size: clamp(15px, 3vw, 1.2rem);
                }
                .label-text {
                    font-size: clamp(15px, 3vw, 1.5rem);
                }
            }
        }
    }
}

//sm
@media (max-width: 576px) {
    //Hero Section
    .hero-section {
        height: 100vh;
        background: linear-gradient(
                90deg,
                rgba(0, 0, 0, 0.8),
                rgba(0, 0, 0, 0.7)
            ),
            url("../assets/images/background/main-bg.png") no-repeat center;
        background-size: cover;

        // Navigation Bar
        .navbar {
            .container-fluid {
                padding: 0 20px;
                .navbar-brand {
                    color: white;
                    font-family: poppinsSB;
                    font-size: clamp(15px, 5vw, 2rem);
                    img {
                        height: 60px;
                        width: 60px;
                    }
                }
                .navbar-toggler {
                    font-size: 1rem;
                }

                .navbar-collapse {
                    ul {
                        margin: 10px 0;
                    }
                    ul > li {
                        font-size: clamp(15px, 3vw, 1.2rem);
                        padding: 0 20px;
                    }
                }
            }
        }

        // Hero Section > Container
        .container {
            height: 80vh;
            display: flex;
            justify-content: center;
            align-items: start;
            flex-direction: column;
            color: white;

            .hero-text {
                .display-3 {
                    display: block;
                    font-size: clamp(16px, 4vw, 1.6rem);
                    font-family: poppinsL;
                }
                .sub-text {
                    padding: 20px 0;
                    font-size: clamp(14px, 3vw, 1.2rem);
                }
                .label-text {
                    font-size: clamp(14px, 3vw, 1.5rem);
                    margin-bottom: 10px;
                }

                .input-group {
                    justify-content: center;
                    .form-control {
                        flex: none;
                        width: 60%;
                    }
                    .form-control-lg {
                        font-size: 0.8rem;
                    }
                    .fw-bold {
                        font-weight: 100 !important;
                    }
                }
            }
        }
    }
}

//xs
@media (max-width: 320px) {
    //Hero Section
    .hero-section {
        // Hero Section > Container
        .container {
            .hero-text {
                .display-3 {
                    display: block;
                    font-size: clamp(15px, 4vw, 1.6rem);
                    font-family: poppinsL;
                }
                .sub-text {
                    padding: 20px 0;
                    font-size: clamp(13px, 3vw, 1.2rem);
                }
                .label-text {
                    font-size: clamp(13px, 3vw, 1.5rem);
                    margin-bottom: 10px;
                }

                .input-group {
                    justify-content: center;
                    .form-control {
                        flex: none;
                        width: 60%;
                    }
                    .form-control-lg {
                        font-size: 0.8rem;
                    }

                    .btn {
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}

// SCSS Customization for theming
$danger: #f30018;
@import "../assets/bootstrap/scss/bootstrap.scss";
